@model List<ToDoTask.Models.Task>
@{
    var msg = @TempData["success"];

}

<div style="color:#ccc;" class="d-flex m-4 gap-5 align-items-center">
    <div>
        <h2>Welcome @ViewBag.name</h2>
        <h3>This is your <span class="text-warning">Tasks</span></h3>
    </div>
    @if (msg != null)
    {
        <div style="width:30%; font-size:large; height:45px; text-align:center; border-radius:2mm;" class="bg-success p-2 text-light" id="temp">
            @TempData["success"]
        </div>
    }


</div>
<a href="/Task/Create" class="me-4 ms-4 btn btn-outline-secondary"> New</a>

<div class="container d-flex flex-wrap m-2 gap-2">
    @foreach (var item in Model)
    {
        <div class="card " style="background-color:#161616; width: 17.4rem; height:max-content; text-align:center; color:#ccc;">
            <div  class="card-body">
                <h5 class="card-title">@item.Title</h5>
                @if (item.type==0)
                {
                    <h6 class="card-text text-danger">(@item.type)</h6>
                }else{
                    <h6 class="card-text text-success">(@item.type)</h6>
                }
                <h6 class="card-subtitle">@item.Deadline</h6>
                <p class="card-text text-secondary">@item.Description</p>

                @foreach (var comment in item.Comments)
                {
                    <p class="m-2 text-warning">
                        @comment.Text
                        <a href="/Comment/Delete/@comment.Id">
                            <i class="fa-solid fa-check"></i>
                        </a>


                    </p>
                }
                <a href="/Task/Edit/@item.Id" class="card-link btn btn-outline-warning">Edit</a>
                <button type="button" onclick="add(@item.Id,@item.User.Id)" class="btn btn-outline-primary" @* data-bs-toggle="modal" data-bs-target="#exampleModal" *@>
                    comment
                </button>
                <a onclick="del(@item.Id)" class="card-link btn btn-outline-danger">Delete</a>
            </div>
        </div>
    }

</div>
<!--Modal to Add Coment -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form id="catform" method="post" action="/Comment/Create">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group mb-3">
                        <input type="hidden" id="taskId" name="TaskId" placeholder="TaskId..." />
                        <input type="hidden" id="userId" name="UserId" placeholder="TaskId..." />
                        <input class="form-control" type="text" name="Text" placeholder="Comment..." required />

                    </div>
                    <div class="form-group mb-3">

                        <input class="form-control" type="date" name="CommentDate" placeholder="Date..." required />

                    </div>
                    <span class="spn text-danger"></span>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>


</script>
@section Scripts {
    <script>
        $(document).ready(function () {

            setTimeout(function () {
                $("#temp").fadeOut("slow");
            }, 6000);
        });

    </script>
}